# Build results
[Aa]spireLearning.AppHost/[Bb]in/
[Aa]spireLearning.AppHost/[Oo]bj/
[Aa]spireLearning.Api/[Bb]in/
[Aa]spireLearning.Api/[Oo]bj/
[Aa]spireLearning.ServiceDefaults/[Bb]in/
[Aa]spireLearning.ServiceDefaults/[Oo]bj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates
